#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.whole-page {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.nav-bar-container {
  font-family: "Bebas Neue", Inter;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid currentColor;

  box-sizing: border-box;
  padding: 1em;
  text-align: left;
}

.nav-bar-container a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}

.nav-bar-container h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
}

.data-container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: 80%;
  height: 100%;
  /* border: 1px solid currentColor; */
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.tool-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.tool {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* background-color: #f9f9f9; */
  border-radius: 4px;
  /* color: #213547; */
  text-align: center;
  font-size: 32px;
  font-family: "Bebas Neue", Inter;
}

.event-list-container {
  width: 90%;
  /* border: 1px solid currentColor; */
  box-sizing: border-box;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.search-container {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  align-items: center;
  /* gap: 5px; */
}

.search-container input {
  border: none;
  /* padding: 10px; */
  outline: none;
  border-radius: 4px;
  width: 50%;
  padding: 10px;
}

.event-container {
  height: fit-content;
  width: fit-content;
  border: 1px solid currentColor;
  box-sizing: border-box;
}

.title-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#nav-item-title {
  transition: all 0.1s ease-in-out;
}

#nav-item-title:hover {
  /* scale: 101%; */
  cursor: pointer;
  text-decoration: underline;
}
table {
  text-align: left;
  margin: 0;
}
thead {
  padding: 0;
  margin: 0;
  top: 0;
  position: sticky;
}

.tableHead {
  color: #213547;
  background-color: #f9f9f9;
  padding: 5px;
}

.event-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100%;
}

.about-detail-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-text-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
}

.event-info-expanded-container {
  /* border: 2px solid currentColor; */
  width: 80%;
  height: 80%;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.event-info-expanded-container h1 {
  margin: 0;
  align-self: center;
  font-size: 48px;
}
.event-info-expanded-container h2 {
  align-self: center;
}

.event-info-expanded-container img {
  width: 300px;
  align-self: center;
}

.event-geo {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}

.event-geo h2 {
  margin: 0;
}

.price-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.price-box {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid currentColor;
  border-radius: 4px;
  text-align: center;
}

.price-box h3 {
  margin: 0;
  font-size: 32px;
}
